*.v2
/.vs/SlowCalling/FileContentIndex
/.vs
/ApiHelpers/obj
/GoogleApiHelper/.vs
/GoogleApiHelper/bin/Debug
/GoogleApiHelper/obj
/LocationDataStore/.vs
/LocationDataStore/bin/Debug
/LocationDataStore/obj
/LocationDbLib/bin/Debug
/LocationDbLib/obj
/TrainerCustom/.vs
/TrainerCustom/bin/Debug
/TrainerCustom/bin
/TrainerCustom/obj
/ApiHelpers/bin
/LocationDataStore/bin
/GoogleApiHelper/bin
/LocationDbLib/bin
/PortalREST/.vs
/PortalREST/bin
/PortalREST/obj
PortalREST/appsettings.json
/PortalREST/models
ApiHelpersTest/appsettings.json
/ApiHelpersTest/bin
/ApiHelpersTest/obj
/PortalREST/logs
/PortalRest.Test/bin
/PortalRest.Test/obj
publish.zip
/publish
